.movie-container{
    padding: 20px;
}

.movie-grid{
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 20px;
}

.movie-poster{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.movie-card{
    text-decoration: none;
    color: inherit;
}