.bookmarked-movie-list{
    text-decoration: none;
    color: inherit;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    gap: 20px;
    position: relative;
}

.movie-poster{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.bookmark-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 8px;
  z-index: 10;
}